[tool.yapf]
based_on_style = "pep8"
indent_width = 4

[tool.pytest.ini_options]
pythonpath = [
  "src"     # 兼容 scr-layout
]
addopts = "--capture=no"
norecursedirs = [
  "tests/torch", 
  "a190rithm/torch"
]

[tool.pylint.main]
init-hook = "import sys; sys.path.append('src')" # 兼容 scr-layout

[tool.pyright]
include = ["a190rithm", "tests", "stubs"]
exclude = [
  "**/__pycache__",
  "a190rithm/torch",
  "tests/torch"
]

ignore = [
]

defineConstant = { DEBUG = true }
stubPath = "stubs"

reportMissingImports = true
reportMissingTypeStubs = false
reportIncompleteStub = true
reportInvalidStubStatement = true 

reportGeneralTypeIssues = false

# self 都识别不了
reportUndefinedVariable = false

executionEnvironments = [
  { root = "tests", extraPaths = ["src"] },
  { root = "src" }
]
